<div class="container">
	<ul class="timeline" >
		<% @posts.each_slice(4) do |posts| %>
			<%= render 'posts/post', posts: posts %>
		<% end %>
		<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
	</ul>

</div>